<span>
  <% if voteable.question? %>
    <%= voteable.content_url %>
  <% else %>
    <%= voteable.content %>
  <% end %>
</span>
<span> <%= voteable.votes.sum(:score)%></span>
<% if logged_in? %>
  <div>
    <ul>
      <li class="vote-button">
        <form action="/<%= voteable.type_of %>/<%= voteable.id %>/vote/new" method="post">
          <input type="hidden" name="score" value="1" />
          <input type="submit" value="thumb_up" class="btn-floating btn waves-effect waves-light red material-icons">
        </form>
      </li>
      <li class="vote-button">
        <form action="/<%= voteable.type_of %>/<%= voteable.id %>/vote/new" method="post">
          <input type="hidden" name="score" value="-1" />
          <input type="submit" value="thumb_down" class="btn-floating btn waves-effect waves-light red material-icons">
        </form>
      </li>
    </ul>
  </div>
<% end %>
