<div>Your questions activity:</div>


<% @questions.each do |question| %>
  <div><a href="/questions/<%= question.id %>">
  <%= erb(:'partials/_voteable', layout: false,  locals: {voteable: question}) %>
  </a></div>
<% end %>

<div>Your answers activity:</div>

<% @answers.each do |answer| %>
  <div><a href="/questions/<%= answer.question.id %>">
  <%= erb(:'partials/_voteable', layout: false,  locals: {voteable: answer}) %>
  </a></div>
<% end %>

<div>Your comments activity:</div>

<% @comments.each do |comment| %>
  <div><a href="/questions/<%= comment.question.id %>">
  <%= erb(:'partials/_voteable', layout: false,  locals: {voteable: comment}) %>
  </a></div>
<% end %>
